@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.container {
	min-height: 100%;
	position: relative;
	background-color: #ffffff;
}

.mainbody,.footer {
	padding-top: 5px;
}

.header {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #EEE;
}

.mainbody {
	margin-top: 5px;
	padding-bottom: 40px;
}

.footer {
	font-family: Arial, Helvetica, sans-serif;
	width: 981px;
	margin: 0 auto 8px;
	text-shadow: 0 1px 0px #fff;
	height: 40px;
	width: 100%;
	background-color: whiteSmoke;
	border-top: 1px solid #DDD;
	position: absolute;
	bottom: 0;
	left: 0;
}

.hcontainer {
	background-color: whiteSmoke;
	display: table;
	width: 100%;
}

.home,.lang,.auth,.reg {
	display: table-cell;
	vertical-align: middle;
	width: auto;
}

.lang {
	background-color: #D0CDCD;
	width: 90%;
	padding: 0 50px 0 10px;
}

.home,.auth,.reg {
	white-space: nowrap;
	padding: 22px;
}

/* room list styles */
.room,.photo,.infoBlock,.price {
	margin: 5px;
	padding: 3px;
}

.room {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	overflow: auto;
}

.photo {
	height: 128px;
	width: 150px;
	border: 1px solid black;
	float: left;
}

.infoBlock {
	border: 1px solid black;
	overflow: hidden;
}

.price {
	border: 1px solid black;
	width: 15%;
	height: 128px;
	float: right;
}

.description {
	height: 109px;
}

.size,.roomClass {
	display: inline-block;
	width: 45%;
}

.leftPanel {
	position: absolute;
	top: 6em;
	left: 1em;
	width: 9em
}

.rightPanel {
	padding-left: 11em;
}

.btnImg {
	height: 31px;
	width: 62px;
}

#errorMsg {
	color: red;
	font-size: 14px;
	font-weight: bold;
	display: none;
}

tr {
	line-height: 30px;
}

#slider1_container {
	position: relative;
	top: 0px;
	left: 0px;
		width: 600px;
	height: 300px;
/* 	width: 450px;
	height: 414px; */
}

#slider {
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 600px;
	height: 300px;
}

.galleryImage {
	width: 600px;
	height: 300px;
}

.jssora01l,.jssora01r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 45px;
	height: 45px;
	cursor: pointer;
	background: url(../img/a01.png) no-repeat;
	overflow: hidden;
}

.jssora01l {
	background-position: -8px -38px;
}

.jssora01r {
	background-position: -68px -38px;
}

.jssora01l:hover {
	background-position: -128px -38px;
}

.jssora01r:hover {
	background-position: -188px -38px;
}

.jssora01l.jssora01ldn {
	background-position: -8px -38px;
}

.jssora01r.jssora01rdn {
	background-position: -68px -38px;
}

.tinySortArrow{	
	width: 20px;
	height: 20px;
}